.banner{
    width: 383vw;
    height: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
}

.section{
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
    justify-self: center;
    align-content: center;
}

.eachsection{
    width: 58vw;
    height: auto;
    scroll-snap-align: start;
    margin-right: 5vw;
    transition: all linear .2s;
    margin-bottom: 10vh;
}

.img{
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.eachsection:hover{
    width: 62vw;
    height: auto;
    scroll-snap-align: start;
    margin-right: 5vw;
    transition: all linear .2s;
    margin-top: 8vh;
    margin-bottom: 7vh;
}

.menu{
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vw;
    justify-self: center;
    align-content: center;
}